//colors
$accent-color: #009D98;
$yellow-decorated: #FFC107;
$text-decorated: #7A7A7A;
$base-color: #000;
$another-color: #fff;

//fonts
$popins: 'Poppins';
$main-font: 'Roboto Mono';

//base 

$maketWidth: 1200;

